PyYAML
prisma==0.7.0
oss2==2.15.0
Pillow==8.3.2
regex==2021.8.28
scikit-image==0.18.3
scikit-learn==0.24.2
scipy==1.7.1
seaborn==0.11.2
tqdm==4.62.2
urllib3==1.22
XML2Dict==0.2.2
xmltodict==0.13.0
shapely==1.8a2
alabaster==0.7.12
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.15.0
antlr4-python3-runtime==4.9.2
anyio==3.4.0
argon2-cffi==21.1.0
artifactory==0.1.17
asciitree==0.3.3
asn1crypto==0.24.0
astroid==2.12.13
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
bayespy==0.5.22
beautifulsoup4==4.6.0
bleach==4.1.0
blockdiag==2.0.1
bokeh==2.4.0
bqplot==0.12.30
brythonmagic==0.2.1
cachetools==4.2.2
catalogue==2.0.6
category-encoders==2.2.2
certifi==2018.1.18
cffi==1.14.6
chainer==7.8.0
chardet==3.0.4
charset-normalizer==2.0.9
click==7.1.2
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.0.0
colorama==0.3.7
colorcet==2.0.6
colorlog==6.4.1
colorlover==0.3.0
colormap==1.0.3
commonmark==0.9.1
crcmod==1.7
cufflinks==0.17.3
cvxopt==1.2.6
cycler==0.10.0
Cython==0.29.24
dask==2021.9.0
datashader==0.13.0
datashape==0.5.2
dbfread==2.0.7
deap==1.3.1
debugpy==1.4.3
decorator==4.1.2
defusedxml==0.7.1
descartes==1.1.0
dict2xml==1.7.1
dill==0.3.6
distributed==2021.9.0
docutils==0.17.1
easydev==0.12.0
geojson==2.5.0
geopandas==0.9.0
geopy==2.2.0
numpy==1.21.2
pybind11==2.7.1
tqdm==4.62.2
zipp==3.7.0
zope.interface==4.3.2
paramiko==2.10.2
artifactory
pyproj==3.3.0
lark==0.11.3
lark-parser==0.11.2
Mako==1.0.7
pandas==1.5.2
requests==2.18.4
wheel==0.30.0
termcolor==2.1.1
pyfiglet